<p id="notice"><%= notice %></p>

<ol>
<% if @response.length > 0 %>
<% @response.each do |item| %>
  <% if item.is_a?(Array) %>
    <% item.each do |sub_item| %>
      <li>
        <%= sub_item %>
      </li>
    <% end %>
  <% else %>
    <li>
      <%= item %>
    </li>
  <% end %>
<% end %>
<% else %>
There were no matches. Please press the back link below and do a search again.
<% end %> -->
</ol>
<%= link_to 'Back', drugs_path %>
