<p id="notice"><%= notice %></p>

<ol>
<% @response.each do |item| %>
  <% if item.is_a?(Array) %>
    <% item.each do |sub_item| %>
      <li>
        <%= sub_item["phaseHighest"] %>
      </li>
    <% end %>
  <% else %>
    <li>
      <%= item %>
    </li>
  <% end %>
<% end %>
</ol>
<%= link_to 'Back', drugs_path %>
