<div class="footer">
  <div class="container">
    <p class="text-muted">Powered by the <a href="http://hackathontr.azurewebsites.net/?page_id=141">Thomson Reuters Cortellis API</a>. Built by <a href="https://github.com/tenji240">Tenji Tembo</a> and <a href="https://github.com/danich1">David Nicholson</a> <em class="pull-right">Demo Application</em></p>
  </div>
</div>