<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="inner cover">
      <h1 class="text-center">Welcome to Selector</h1>
      <p>Selector is a Pharmecutial Drug Research and Suggestion Tool designed to bring in the new age of personal medicine. Using the Thomson Reuters
        Cortellis API and Database, we provide an interface that empowers physicians to make informed decisions about their patients, as well as stay up to date with important information regarding pharmecuticals.</p>
      <p class="text-center"><%= link_to "Research Pharmecuticals", drugs_path, class: 'btn btn-primary' %> <%= link_to "View My Patients", patients_path, class: 'btn btn-default' %></p>
    </div>
  </div>
</div>
