<div class="landing">
  <h1 class="text-center">Welcome</h1>
  <div class="landing-inner">
    <%= link_to "Search Drugs", drugs_path, class: 'btn btn-default btn-primary btn-lg' %>
    <%= link_to "View My Patients", patients_path, class: 'btn btn-default btn-primary btn-lg' %>
  </div>
</div>
