// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-section-left {
  width: 48%;
  float: left;
}

.form-section-right {
  width: 50%;
  padding-left: 2%;
  float: right;
}

.symptom-control {
  width: 35%;
}

