// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing {
  margin-top: 20%;
  margin-bottom: auto;
  border: 2px solid;
  border-radius: 25px;
  width: 50%;
  background-color: #fff;
}

.landing-inner {
  padding-left: 22%;
  padding-bottom: 5%;
}

